*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.qr-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 320px;
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

article {
  padding: 0 16px;
}

h1 {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 22px;
  color: #1f3251;
  line-height: 1.2;
}

p {
  font-size: 15px;
  color: #68778d;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

img {
  border-radius: 10px;
  margin-bottom: 24px;
}
